:root {
    --primary-color: #4C5C7A;
    /*blue*/
    --secondary-color: #85A156;
    /*green*/
    --light-color: #E5F1FB;
    /*lavender*/
    --dark-color: #A16B4D;
    /*brown*/
}

.border {
    border: 1px solid red;
}


/*page-home*/

.split {
    display: flex;
}

#lanchonete {
    width: 50vw;
    height: 100vh;
    background: url(/images/lanchonete.svg) no-repeat;
    background-position: center top;
    border: 1px solid red;
}

.form-pedido {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-pedido .field {
    margin-left: 8px;
}

.form-pedido .field .qtd {
    max-width: 70px;
}

.form-pedido button {
    border: 0;
    margin-left: 8px;
}