<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PedidoMVC</title>
    <!-- font -->
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <!-- materialize -->
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    <!-- materialize icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- local -->
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/responsive.css" />
</head>
<body>
    <header>
        <nav>
            <div class="container">
                <a asp-controller="Home" asp-action="Index" class="logo center"><span id="burguer"></span>Burgueria</a>
                <a asp-controller="Pedido" asp-action="Index" class="pedido btn right" >Pedido</a>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb">
            @RenderBody()
        </main>
    </div>

    <script type="text/javascript">
        $('select').not('.disabled').material_select();

        window.onload=function(){
            $(document).ready(function() {
                $('select').material_select();
        });}
    </script>
</body>
</html>
