<!-- HOME -->

@{ ViewData["Title"] = "Home Page"; }

<div class="split">
    <div id="lanchonete"></div>

    <div class="text-center" style="border: 1px solid red;">
        <h1 class="display-4">Bem vindo a lanchonete</h1>

        <a asp-action="Index" asp-controller="Pedido">Fazer pedido</a>
    </div>
</div>