<!-- HOME -->

@{ ViewData["Title"] = "Home Page"; }

<div class="row" id="page-home">

    <div class="col s6 offset-s6 content">
        <h5>Bem vindo a</h5>
        <h1>Burgueria</h1>
         
        <a asp-controller="Pedido" asp-action="Index" class="waves-effect waves-light btn-large"><span id="cart"></span> Fazer pedido</a>
    </div>
</div>