<!-- Pedido -->

@{
    ViewData["Title"] = "Pedido";
}

<div class="text-center">
    <h1 class="display-4">Página de Pedido</h1>
    <form class="pt-2 form-pedido">
        <div class="field">
            <label for="description">Descrição</label>
            <input type="text" name="description" required/>
        </div>

        <div class="field">
            <label for="quantidade">Quantidade</label>
            <input type="number" min="1" step="1" class="qtd" name="quantidade" required/>
        </div>

        <div class="field">
            <label for="valor">Valor unitario</label>
            <input type="text" name="valor" required/>
        </div>

        <button type="submit">Adicionar</button>
    </form>
</div>
